._1Fm4m:after {
  height: 84px;
}

html[dir] ._1Fm4m:after {
  /* background-color: #172797; */
  background-image: url("https://github.com/leonardo-anjos/whastapp-ecommerce-chrome-extension/blob/main/src/images/navbar.png?raw=true");
}

.app-wrapper-web ._1jJ70 {
  top: 84px;
  height: calc(100% - 110px);
}